body{
  background-color:lightgrey;
}
.dropbtn{
  background-color:grey;
  border:none;
  width:30px;
  height:30px;
  cursor:pointer;
  
}
.dropdown{
  background-color:white;
  border-radius:5px;
  box-shadow: 5px 10px #cccccc;
  width:500px;
  height:30px;
  padding:10px;
  cursor:pointer;
 display:flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}
.dropdown > .dropbtn{
  margin-left:auto;
}
span{
  font-size:20px;
  
}
.dropdown-content{
  margin-top:10px;
  display:none;
}

p{
  background-color:white;
  width:480px;
  height:80px;
  padding:20px;
  font-size:20px;
  box-shadow: 5px 10px #cccccc;
  position:absolute;
  left:0px;
 }
